PORT_SERVER=
DATABASE_URL=postgresql://${DB_USER}:${DB_PASS}@${DB_HOST}:${DB_PORT}/${DB_NAME}
DB_USER=         # nome de usuario do banco de dados
DB_PASS=         # senha do banco de dados
DB_HOST=         # host do banco de dados
DB_PORT=              # porta do banco de dados
DB_NAME=     # nome do banco de dados
